body{
    padding: 0%;
    margin: 0%;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    line-height: 13.3px;
}

/* 設定字型大小及字高 */
h1{
    font-size: 28px;
    line-height: 24px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;  
}
h3{
    font-size: 24px;
    line-height: 24px;
}
button{
    font-size: 19px;
    line-height: 16px;
}
content{
    font-size: 16px;
    line-height: auto; 
}
.bold{
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
}

/* 設定navbar */
.nav{
    display: flex ;
    height:54px;
    justify-content: center;
}
.nav--content{
    display: inline-flex;
    width:1200px;
    justify-content: space-between;
    align-items: center;
}
#title{
    color:#448899;
    font-size: larger;
    font-weight: 700;
}

/* 設定header */
.header{
    background-image: url(./image/[orig]\ welcome\ image.jpg);
    background-size: cover;
    height: 320px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
#header--title{
    position: relative;
    top:50px;
}
#header--text{
    display:flex;
    justify-content: flex-start;
    width:1200px;
    height:200px;
    position:absolute;
    top:50px;
}

#header--input{
    position: absolute;
    top: 150px;
    width:500px;

}
#header__input{
    position: relative;
    width:400px;
    height: 46px;
    padding-left:15px;
    float:left;
    border: none;
    border-radius: 3px 0 0 3px;
}
#header__btn{
    background-color: #448899;
    height:48px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0 5px 5px 0;
    border: none;
    width:60px;
}
#header__btn img{
    width: 30px;
    height: 30px;
}

/* 設定content部分 */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#container__div_nav--head{
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}
#container__div_nav--head img{
    width:32px;
    height:32px;
}
#container__div--leftbar{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
}
#container__div--rightbar{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 15px;
}
#container__div_nav--content{
    width:1000px;
    height: 50px;
    padding:13px 10px;
}
.footer{
    height:70px;
    text-align: center;
    color: white;
    font-size:0.8em;
    padding-top: 50px;
    background-color: gray;
}