{% extends "base.html" %}
{% block title %}Introduction of Attraction{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/attraction.css">
{% endblock css %}
{% block content %}
<section class="content--header">
    <div class="header">
        <div class="header--left">
            <div class="header__div--image">
                <div class="images"></div>
                <div class="header__div--leftbar"><img src="../static/image/left.png" alt=""></div>
                <div class="header__div--rightbar"><img src="../static/image/right.png" alt=""></div>
                <div class="circles"></div>
            </div>
        </div>
        
        <div class="header--right">
            <h3 class="attraction" style="color:#666666"></h3>
            <div class="categoryAndMrt"></div>
            <div class="header__div_form">
                <div class="purchase bold" style="color:#666666">訂購導覽行程</div>
                <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <form action="">
                    <div class="form" style="height: 35px;">
                        <span class="bold">選擇日期 : </label>
                        <input type="date" name="date" id="form--bookingdate">
                    </div>
                        <div class="nextline"></div>
                    <div class="form" style="height: 25px;">
                        <span class="bold">選擇時間 : </span>
                        <input type="radio" name="time" class="form--bookingtime" id="morning">
                        <label for="morning">上半天</label>
                        
                        <input type="radio" name="time" class="form--bookingtime" id="afternoon">
                        <label for="afternoon">下半天</label>
                    </div>
                    <div class="nextline"></div>
                    <div style="height: 22px;">
                        <span class="bold" style="color:black">導覽費用 : </span>
                        <span id="dollars">新台幣2000元</span>
                    </div>
                    <div class="nextline" id="alertline"></div>
                    <div class="content__form_btn">開始預訂行程</div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="main"></div>
<section class="content--bottom">
    
</section>
{% endblock content %}
{% block script %}
<script src="../static/javascript/attraction.js"></script>
{% endblock script %}
