<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction of Attraction</title>
    <link rel="stylesheet" href="../static/attraction.css">
</head>
<body>
    <section class="nav">
        <div class="nav--content">
            <div id="title">
                台北一日遊
            </div>
            <div class="nav__div--item">
                <span>預定行程</span>
                <span>登入/註冊</span>
            </div>
        </div>
    </section>
    <section class="content--header">
        <div class="header--left">
            <div class="header__div--leftbar"><img src="../static/image/left.png" alt=""></div>
            <div class="header__div--image">

            </div>
            <div class="header__div--rightbar"><img src="../static/image/right.png" alt=""></div>
        </div>
        <div class="header--right">
            <h3 class="attraction">景點名稱</h3>
            <div class="categoryAndMrt">{{type}} at {{mrt}}</div>
            <div class="header__div_form">
                <div class="purchase bold">訂購導覽行程</div>
                <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <form action="">
                    <div style="height: 35px;">
                        <label for="date" class="bold">選擇日期 : </label>
                        <input type="date" name="date" id="form--bookingdate">
                    </div>
                        <div class="nextline"></div>
                    <div style="height: 22px;">
                        <label for="time" class="bold">選擇時間 : </label>
                        <input type="radio" name="time" id="form--bookingtime">
                        <label for="time">上半天</label>
                        <label for="time">下半天</label>
                    </div>
                    <div class="nextline"></div>
                    <div style="height: 22px;">
                        <span class="bold" style="color:black">導覽費用 : </span>
                        新台幣2000元
                    </div>
                    <div class="nextline"></div>
                    <button type="submit" class="content__form_btn">開始預訂行程</button>
                </form>
            </div>
        </div>
    </section>
    <section class="content--button">
        <div class="contentText">
            <p>{{Text}}</p>
            <h6>景點地址:</h6>
            <div>{{address}}</div>
            <br>
            <h6>交通方式:</h6>
            <div>{{transportation}}</div>
        </div>
    </section>
    <section class="footer">copyright &copy 2023 台北一日遊</section>
    <script>
        let attractionImage = document.getElementsByClassName("header__div--image");
    </script>
</body>
</html>