<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
    {% endblock head %}
</head>
<body>
    <div class="wrapper">
        <section class="nav">
            <div class="nav--content">
                <a href="/" style="text-decoration: none;">
                    <h2 class="bold" id="title">
                        台北一日遊
                    </h2>
                </a>
                <div class="nav__div--item">
                    <span id="purchase">預定行程</span>
                    <span id="sign"><span id="signin">登入</span>/<span id="signup">註冊</span></span>
                </div>
            </div>
        </section>
        {% block content %}

        {% endblock content %}  
   
    <section class="footer">copyright &copy 2023 台北一日遊</section>
    </div>
    <script src="../static/javascript/tool.js"></script>
    <script src="../static/javascript/form.js"></script>
    {% block script %}
    
    {% endblock script %}
</body>
</html>