{% extends "base.html" %}
{% block title %}Booking{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/booking.css">
{% endblock css %}
{% block content %}
<section class="header">
    <div id="header--top">
        <div class="header--top_div--welcome bold"></div>
        <div class="header--top_div--record"></div>
    </div>
    <div class="header--buttom">
        <div class="header--left">
        </div>
        <div class="header--right">
            <div class="header--attraction bold">
                <span>台北一日遊 : <span id="attraction"></span></span>
                <img class="delete" src="./static/image/icon_delete.png">
            </div>
            <div class="header--purchase"></div>
        </div>
    </div>
</section>
<section class="content">
    <div class="main"></div>
    <div class="content__div">
        <div class="bold text">您的聯絡資訊</div>
        <label for="subscribeName" class="text normalsize">聯絡姓名 :
            <input type="text" placeholder="{{username}}" name="subscribename" id="subscribename">
        </label>
        <label for="contactMail" class="text normalsize">聯絡信箱 :
            <input type="email" placeholder="{{email}}" name="contactMail" id="contactMail">
        </label>
        <label for="contactPhone" class="text normalsize">聯絡電話 :
            <input type="tel" name="contactPhone" id="contactPhone">
        </label>
        <div class="bold" style="color:#666666;">
            請保持手機暢通，準時到達。導覽人員將用手機與您聯繫，務必留下正確的聯絡方式
        </div>
    </div>
    <div class="main"></div>
    <div class="content__div">
        <div class="bold text">信用卡付款資訊</div>
        <label for="creditCard" class="text normalsize tpfield">卡片號碼 :
            <div id="card-number"></div>
        </label>
        <label for="expDate" class="text normalsize tpfield">到期日期 :
            <div id="card-expiration-date"></div>
        </label>
        <label for="ccv" class="text normalsize tpfield">驗證密碼 :
            <div id="card-ccv"></div>
        </label>
    </div>
    <div class="main"></div>
    <div class="content__div left">
        <div class="summary" style="height: 100px;">
            <div class="bold">總價:<span id="total"></span></div>
            <div id="fakeButton">確認訂購並付款</div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
<script src="../static/javascript/booking.js"></script>
{% endblock script %}