{% extends "base.html" %}
{% block title %}Taipei-Attraction{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/index.css">
{% endblock css %}
{% block content %}
<section class="header">
    <div id="header--text">
        <div id="header__text" class="fromRightEaseIn">
            <h1 class="bold" id="header--title1">輕鬆享受台北一日悠閒</h1>
            <div class="bold" id="header--title2">探索每個角落，體驗城市的深度旅遊行程</div>
        </div>
        <div id="header--input" class="dropDown">
            <input type="text" id="header__input" placeholder="輸入景點名稱查詢">
            <button id="header__btn">
                <img src="../static/image/icon_search.png">
            </button> 
        </div>
    </div>
</section>
<section class="container">
    <div id="container__div_nav--head">
        <div id="container__div--leftbar">
            <img src="../static/image/left.png">
        </div>
        <div id="container__div_nav--content">

        </div>
        <div id="container__div--rightbar">
            <img src="../static/image/right.png">
        </div>
    </div>
    <div id="cintainer__div--content">

    </div>
</section>
{% endblock content %}
{% block script %}
<script src="../static/javascript/script.js"></script>
{% endblock script %}
