<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei-Attraction</title>
    <link rel="stylesheet" href="../static/attraction.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="nav">
        <div class="nav--content">
            <h2 class="bold" id="title">
                台北一日遊
            </h2>
            <div class="nav__div--item">
                <span>預定行程</span>
                <span>登入/註冊</span>
            </div>
        </div>
    </section>
    <section class="header">
        <div id="header--text">
            <div id="header--title">
                <h3 class="bold">輕鬆享受台北一日悠閒</h3>
                <div class="bold">探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            <div id="header--input">
                <input type="text" id="header__input" placeholder="輸入景點名稱查詢">
                <button id="header__btn" class="bold">
                    <img src="../static/image/icon_search.png">
                </button> 
            </div>
        </div>
    </section>
    <section class="container">
        <div id="container__div_nav--head">
            <div id="container__div--leftbar" style="display: inline-block;">
                <img src="../static/image/left.png">
            </div>
            <div id="container__div_nav--content" style="display: inline-block;">
                {% for item in taipei_mrt %}
                <span>{{item[0]}}</span>
                {% endfor %}
            </div>
            <div id="container__div--rightbar" style="display: inline-block;">
                <img src="../static/image/right.png">
            </div>
        </div>
        <div id="cintainer__div--content">

        </div>
    </section>
    <section class="footer">copyright &copy 2023 台北一日遊</section>
    <script src="../static/script.js"></script>
</body>
</html>