{% extends "base.html" %}
{% block title %}Thankyou{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/thankyou.css">
{% endblock css %}
{% block content %}
<section class="header">
    <h3 class="thankyou bold"></h3>
    <div class="neworder"></div>
</section>
<section class="history">
    <h3 class="historyList bold">歷史訂購紀錄</h3>

</section>
{% endblock content %}
{% block script %}
<script src="../static/javascript/thankyou.js"></script>
{% endblock script %}